.footer {
  background-color: #333; 
  color: #fff; 
  padding: 30px; 
  font-family: Arial, sans-serif; 
}

.footer-top {
  text-align: center; /* Center the text */
  padding-bottom: 20px; /* Space below the top section */
}

.footer-main {
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
}

.input-field{
  display: flex;

}

.input-field input{
  padding: 15px;
  border: none;
  width: 280px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.input-field button{
  padding: 14px;
  border: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: bold;
  background-color: white;
}


.footer-section h4 {
  margin-bottom: 10px; 
  font-size: 18px;
}

.footer-section ul {
  list-style-type: none; 
  padding: 0; 
}

.footer-section li {
  margin-bottom: 15px; 
  font-size: 13px;
}

.footer-bottom {
  text-align: center; 
  margin-top: 20px; 
  font-size: 12px;
}


