.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    gap: 40px;
    border-radius: 20px;
}

.form h3{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}



.username , .password, .phone{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input{
    padding: 15px;
    font-size: 18px;
    width: 380px;
    border-radius: 15px;
    outline: none;
    border: 1px solid black;
}

.form label{
    font-size: 15px;
    font-weight: bold;
}

.form button{
    padding: 20px;
    font-size: 18px;
    background-color: rgb(55, 55, 55);
    color: white;
    border: none;
    border-radius: 20px;
}

.form p{
    text-align: center;
}

